<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="10">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>NadirKitap - Recent Books</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <style>
        table{
            width: 100%;
        }
        table, th, td {
            border: 1px solid black;
        }
        
        th, td{
            text-align: center;
        }

        td#title{
            text-align: left;
        }
    </style>
    <body>
        <table>
            <tr>
                <th>TITLE</th>
                <th>AUTHOR</th>
                <th>PUBLISHED</th>
                <th>LINK</th>
            </tr>
            {% for item in data %}
            <tr>
                <td id="title">{{ item.title }}</td>
                <td id="author">{{ item.author }}</td>
                <td id="published">{{ item.published }}</td>
                <td id="href"><a href="{{ item.href }}" target="_blank">Open in new tab</a></td>
            </tr>
            {% endfor %}
        </table>
    </body>

</html>